{
	"emergencyContact": {
		"defaultValue": "",
		"dataType"    : "string",
		"isSensitive" : false,
		"description" : "A comma separated list of username/userid combo set as your emergency contact. Example: sue/12345678, bob/87654321",
		"category"    : "system"
	},
	"confirmEmergencyCall": {
		"defaultValue": true,
		"dataType"    : "boolean",
		"isSensitive" : false,
		"description" : "Asks for confirmation before sending a emergency message",
		"category"    : "system"
	}
}
